<!DOCTYPE html>
<html lang="en">

<head>
  <script src="{{{appclient}}}"></script>
  <script async type="module" src="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/dist/crayons/crayons.esm.js"></script>
  <script async nomodule src="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/dist/crayons/crayons.js"></script>
  <link rel="stylesheet" href="../styles/styles.css" />
</head>

<body>
  <article>
    <section>
      This is your sample app. You can utilise this space to build your
      app.<br />
      You can add your own element here.<br /><br />
    </section>
  </article>
</body>
<script src="./../scripts/app.js"></script>

</html>
